<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사용자 공연 장소 입력 받기</h1>
    <p>1. 주소 입력 -> 위도 경도 좌표 반환</p>
    <p>2. 지도 클릭 -> 해당 지점 주소 및 위도 경도 좌표 반환</p>
    <!--공연 정보 띄울 지도-->
    <p>관객 대상 지도</p>
    <div id = "main_map" style = "width:500px; height: 400px;"></div>
    <!--검색용 지도-->
    <p>위치 검색용 지도</p>
    <div id = "search_map" style = "width:500px; height: 400px;"></div>
    <!--클릭 지점 위도경도 표시-->
    <div id="result"></div>
    <!--services library: 주소, 좌표간 변환-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8692f5c3c759c152297171d014cffebe&libraries=services"></script>

    <script>
        var mapContainer = document.getElementById("main_map"), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.55534870467689, 126.93710965061135), // 지도의 중심좌표: 신촌역
                level: 4 // 지도의 확대 레벨
            };  
        
        // 지도를 생성합니다    
        var main_map = new kakao.maps.Map(mapContainer, mapOption); 
        
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();
        
        // 1번 방법: 주소 검색 
        // 정확한 주소여야 한다 
        geocoder.addressSearch('서울 서대문구 창천동 30-16', function(result, status) {

        // 정상적으로 검색이 완료됐으면 
         if (status === kakao.maps.services.Status.OK) {
        
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x); // 위도 경도 좌표 
        
            // 결과값으로 받은 위치를 마커로 표시
            var marker = new kakao.maps.Marker({
                map: main_map,
                position: coords
            });
        } 
        });

        // 2번 방법 
        var mapContainer = document.getElementById('search_map'), // 지도를 표시할 div 
            mapOption = {
            center: new kakao.maps.LatLng(37.55534870467689, 126.93710965061135), // 지도의 중심좌표: 신촌역
            level: 1 // 지도의 확대 레벨
        };    
        var search_map = new kakao.maps.Map(mapContainer, mapOption); 
        
        var search_marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커
            infowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우
        
        var main_marker = new kakao.maps.Marker(); // 입력한 공연 정보를 메인 지도에 표시할 마커

            // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 인포윈도우와 마커로 표시(사용자 편의) + 위도경도 좌표 반환(이후 전체 지도 표시 목적)
        kakao.maps.event.addListener(search_map, 'click', function(mouseEvent) {

            // 클릭 지점 위도경도 반환
            var latlng = mouseEvent.latLng;
    
            var message = '클릭한 위치의 위도: ' + latlng.getLat();
            message += ' 경도: ' + latlng.getLng();
    
            var resultDiv = document.getElementById('result'); 
            resultDiv.innerHTML = message;

            // 클릭 지점을 메인 지도에 마커로 추가 
            main_marker.setPosition(mouseEvent.latLng);
            main_marker.setMap(main_map);

            // 주소정보 인포윈도우 + 마커
            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                    var content = '<div class="bAddr">' +
                                    '<span class="title">법정동 주소정보</span>' + 
                                    detailAddr + 
                                '</div>';

                    // 마커를 클릭한 위치에 표시
                    search_marker.setPosition(mouseEvent.latLng);
                    search_marker.setMap(search_map);

                    // 인포윈도우에 클릭한 위치에 대한 주소정보를 표시
                    infowindow.setContent(content);
                    infowindow.open(search_map, search_marker);
                }   
            });
        });

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
        }

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }
    </script>
</body>
</html>