{% extends 'base.html' %}
{% block content%}

<style>
    body {
        text-align: center;
        color: #1f2024;
        font-size: 16px;
        font-family: "Source Sans Pro", arial, sans-serif;
        line-height: 1.6;
        justify-content: center;
        flex-wrap: wrap;
    }
    .column {
        max-width: calc(800px/2 - 40px);
        height: 300px;
        margin: 1em;
        padding-bottom: 20px;
    }
    .sign-column .g-sign {
        background: rgb(15, 210, 15);
        padding: 1px;
        border-radius: 3px;
        display: block;
        color: white;
        border: 0;
    }
    .sign-column .g-sign .button-container {
        display: table;
    }
    .sign-column .g-sign .button-container .g-icon,
    .sign-column .g-sign .button-container .button-content {
        display: table-cell;
        vertical-align: middle;
    }
    .sign-column .g-sign .button-container .g-icon {
        width: 30px;
        height: 30px;
        background: white;
        padding: 15px;
    }
    .sign-column .g-sign .button-container .button-content {
        text-align: center;
        width: 100%;
        font-weight: 600;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
    .sign-column .divider {
        width: 100%;
        text-align: center;
        margin: 20px auto;
        text-transform: uppercase;
        font-size: 12px;
        color: #9e9e9e;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sign-column .divider .left,
    .sign-column .divider .right {
        width: 45%;
        height: 1px;
        background: #9e9e9e;
    }
    .sign-column form .input-group {
        width: 100%;
        margin-bottom: 2em;
    }
    .sign-column form .input-group .label,
    .sign-column form .input-group .input {
        display: block;
    }
    .sign-column form .input-group .label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0.5em;
    }
    .sign-column form .input-group .input {
        border: none;
        background-image: none;
        background-color: transparent;
        box-shadow: none;
        font-family: "Source Sans Pro", arial, sans-serif;
        width: calc(100% - 2em);
        padding: 1em;
        border-radius: 3px;
        background: #eeeeee;
        border: 1px solid #bdbdbd;
        font-size: 18px;
    }
    .sign-column form .form-button {
        background: turquoise;
        border-radius: 3px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 0;
        display: block;
        width: 100%;
        color: white;
        border: 0;
        cursor: pointer;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .button-below {
        background-color: rgb(44, 180, 166); 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        width: 48%;
    }
    .button-below span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button-below span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button-below:hover span {
        padding-right: 25px;
    }

    .button-below:hover span:after {
        opacity: 1;
        right: 0;
    }

</style>
<!--
    <h1>로그인</h1>
    <form action="{% url 'login' %}" method="POST">
    {%csrf_token%}
    
    <p>
        <label>아이디:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>비밀번호:</label>
        <input type="password" name="password">
    </p>
    <button type="submit">완료</button>
</form>
<a href="{% url 'signup' %}"><button style="margin-top:10px;">회원가입</button></a>
<a href="{% url 'home' %}"><button style="margin-top:10px;">홈으로</button></a>
-->
<h1>로그인</h1>

<div class="column sign-column">
    <a class="g-sign" href="#">
        <div class="button-container"><img class="g-icon" src="https://cdn.theorg.com/6aa26807-55ff-4e88-8441-d451d3ea1626_thumb.png"/>
            <div class="button-content">네이버 계정으로 로그인하기</div>
        </div>
    </a>
    <div class="divider">
        <div class="left"></div>or
        <div class="right"></div>
    </div>
    <form action="{% url 'login' %}" method="POST"> 
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <div class="input-group">
            <label class="label" for="formEmail">아이디</label>
            <input class="input" id="formEmail" type="text" name="username" placeholder="아이디를 입력해 주세요"/>
        </div>
        <div class="input-group">
            <label class="label" for="formPass">비밀번호</label>
            <input class="input" id="formPass" type="password" name="password" placeholder="비밀번호를 입력해 주세요"/>
        <button class="form-button" type="submit" style="margin-top:20px">완료</button>
    </form>
</div>
<a href="{% url 'signup' %}"><button class="button-below">회원가입</button></a>
<a href="{% url 'home' %}"><button class="button-below">홈</button></a>

{% endblock %}