{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    #profile_img {
        text-align: center;
        margin-top: 30px;
    }
    
    #profile_name {
        display: flex;
        justify-content: center; padding-left: 30px;
        margin-top: 5px;
    }
</style>
<div id="profile_img">
    {% if person.image %}
    <img src="{{person.image.url}}" alt="profile" width="100px" height="100px" style="object-fit:cover;border-radius: 100px;">
    {% else %}
    <img src="{% static 'profile_color.png' %}" alt="profile" width="100px" height="100px">
    {% endif %}
</div>

<div id="profile_name">
    <div style="margin-right:10px;">{{person.name}}</div>
    <div>
    {% if request.user == person %}
        {% if person.status == 0 %}
        <a href="{% url 'transition' %}">
            <img src="{% static 'no_check.png'%}" alt="no_check" width="20px" height="20px">
        </a>
        {% else %}
        <a href="{% url 'transition' %}">
            <img src="{% static 'yes_check.png'%}" alt="no_check" width="20px" height="20px">
        </a>
        {% endif %}
    {% else %}
        {% if person.status == 0 %}
            <img src="{% static 'no_check.png'%}" alt="no_check" width="20px" height="20px">
        {% else %}
            <img src="{% static 'yes_check.png'%}" alt="no_check" width="20px" height="20px">
        {% endif %}
    {% endif %}
    </div>
</div>

<div id="profile_detail" style="display:column; margin-top: 15px; font-size:14px; ">
    <div style="display: flex; justify-content: center; margin: 8px 0;">
        <img src="{% static 'instagram.png' %}" width="25" height="25" style="margin-right: 5px;">
        <div>{{person.insta}}</div>
    </div>
    <div style="display:flex; justify-content: center; margin: 8px 0;">
        <img src="{% static 'youtube.png' %}" width="25" height="25" style="margin-right: 5px;">
        <div>{{person.youtube}}</div>
    </div>
    <div style="padding-bottom: 5px; border-bottom:1px solid rgb(89, 88, 88); width:250px; display: flex; margin: 8px auto; justify-content: center;">
        {{person.intro}}
    </div>
</div>

<a href="{% url 'edit'%}" >
    <button class="yellow_button" style="font-size:14px; display:flex; justify-content:center; margin: 30px auto; padding-top:7px;width:100px;height:33px;">
        프로필 편집
    </button>
</a>

<div style="display:flex; border-width: 1px 0 0 0; border-style: solid;">
    <div style="flex-grow:1;text-align: center;">게시판</div>
    <div style="flex-grow:1;text-align: center; border-width: 0 1px 1px 1px; border-style: solid;">
        달력
    </div>
    <div style="flex-grow:1;text-align: center; border-width: 0 0 1px 0; border-style: solid;">
        즐겨찾기
    </div>
    <div style="flex-grow:1;text-align: center; border-width: 0 0 1px 1px; border-style: solid;">
        후기</div>
</div>
<br>
<a href="{% url 'account_logout' %}" style="display:flex;justify-content: center;">
    <button class="yellow_button" style="font-size:14px; display:flex; justify-content:center; margin: 50px auto; padding-top:7px;width:80px;height:33px;background-color: rgb(145, 144, 144);">로그아웃</button>
</a>
{% endblock %}