{% extends 'base.html' %}

{% block content%}
  <head>
    <!-- Add the evo-calendar.css for styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
  </head>

  <div id="evoCalendar" style="z-index:0;"></div>

  <!-- Add jQuery library (required) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

  <!-- Add the evo-calendar.js for.. obviously, functionality! -->
  <script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>

  <script>
    $("#evoCalendar").evoCalendar({
    calendarEvents: [
      {
        id: '1', // Event's ID (required)
        name: "이무진", // Event name (required)
        date: "May/1/2022", // Event date (required)
        description: "홍대입구역 1번 출구 20:30", // Event description (optional)
        type: "event" // Event type (required - USE event!!)
      },
      {
        id: '2', // Event's ID (required)
        name: "이독수", // Event name (required)
        badge: "즐겨찾기", // Event badge (optional)
        date: "May/13/2022", // Date range
        description: "신촌역 1번 출구 20:30", // Event description (optional)
        type: "event", // Event type (required - USE event!!)
        color: "#63d867" // Event custom color (optional)
      }
    ]
  });
  $("#evoCalendar").evoCalendar('addCalendarEvent', [
    {
      id: '3', // Event's ID (required)
      name: "잔나비", // Event name (required)
      date: "May/15/2022", // Date range
      description: "신촌 명품 거리 20:30", // Event description (optional)
      type: "event" // Event type (required - USE event!!)
    }
  ]);
  </script>
      <script>
        function dp_menu(){
            let click = document.getElementById("drop-content");
            let clickable = document.getElementById("evoCalendar");
            if(click.style.display === "none" || click.style.display === ""){
                click.style.display = "inline-block";
                clickable.style.zIndex = "0";
            }else{
                click.style.display = "none";
            }
        }
    </script>
{% endblock %}