{% extends 'base.html' %}

{% block content %}

{% load static %}
  <head>
    <!-- Add the evo-calendar.css for styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
    <style>
      @media screen and (max-width: 425px) {
        .calendar-events { 
        height: 100%;
      }
      }
    </style>
  </head>

  <div id="evoCalendar" style="z-index:0;"></div>

  <!-- Add jQuery library (required) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

  <!-- Add the evo-calendar.js for functionality -->
  <script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>

  <script>

    $("#evoCalendar").evoCalendar({
      calendarEvents: [
      ]
    });

    {% for concert in concerts %}
    var text = "{{ concert.date }}"; // Format: June 15, 2022 
    var month = text.split(",")[0].split(" ")[0];
    var day = text.split(",")[0].split(" ")[1];
    var year = text.split(",")[1];
    var concert_date = month + "/" + day + "/" + year; // Format: June/15/2022
    $("#evoCalendar").evoCalendar('addCalendarEvent', [
      {
        id: "{{ concert.id }}", // Event's ID (required)
        name: "{{ concert.musician.name }}", // Event name (required)
        date: concert_date, // Event date MONTH/dd/yyyy (required)
        description: "{{ concert.time }}" + " {{ concert.address }}", // Event description (optional)
        type: "event", // Event type (required - USE event!!)
        {% if request.user in concert.musician.follower.all %}
        color: "#63d867"
        {% endif %}
      }
    ]);
    {% endfor %}
    
    function dp_menu(){
        let click = document.getElementById("drop-content");
        let clickable = document.getElementById("evoCalendar");
        if(click.style.display === "none" || click.style.display === ""){
            click.style.display = "inline-block";
            clickable.style.zIndex = "0";
        }else{
            click.style.display = "none";
        }
    }
</script>
{% endblock %}