{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    body {
        font-size: 18px;
    }

    section {
        margin:30px auto;
        border: 1px solid rgb(139 134 134 / 27%);
        border-radius: 10px;
        width:90%;
    }

    #detail_title {
        display:flex;
        padding:10px 10px 5px 10px;
        font-weight: bold;
    }

    #detail_content {
        padding:10px 20px 10px 10px;
    }

    #detail_image {
        margin: 20px 10px 20px 10px;
    }

    #detail_to_home {
        padding-right: 60px;
        margin-bottom: 50px;
        overflow: hidden;
    }

    #comment_container {
        margin:30px auto;
        width:90%;
        padding:0 5px 30px 5px;
    }

    #comment_index {
        font-size:16px;
        padding:10px;
        border-bottom: 1px solid rgb(206, 203, 203);
        display: flex;
    }

    #comment_create {
        display: flex;
    }
    .subscribe-button {
        position: fixed;
        bottom: 30px; 
        right: 20px;
        padding: 5px 7px;
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        color: white;
        background: #f46571e6;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: background-color, box-shadow;
        transition-duration: 0.2s;
    }
    .subscribe-button:active {
        background: #de0000;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.14);
    }
    .subscribe-button.subbed {
        background: #777;
    }
    .subscribe-button * {
        vertical-align: middle;
    }
    .heart-like-button {
        position: relative;
        width: 40px;
        height: 40px;
    }
    .heart-like-button:before {
        position: absolute;
        top: 0;
        left: 15px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        width: 15px;
        height: 25px;
        border-radius: 40px 40px 0 0;
        background-color: rgb(206 203 203);
        content: "";
        cursor: pointer;
        transition: background .4s;
    }
    .heart-like-button:after {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(45deg);
        transform-origin :100% 100%;
        width: 15px;
        height: 25px;
        border-radius: 40px 40px 0 0;
        background-color: rgb(206 203 203);
        content: "";
        cursor: pointer;
        transition: background .4s;
    }
    .heart-like-button.liked::before,
    .heart-like-button.liked::after {
        background-color: #d65076;
    }
    .heart-like-button.liked {
        animation: liked .4s ease;
    }
    @keyframes liked {
        0% {
            transform: scale(.8);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .button-enter {
        align-self: center;
        background-color: transparent;
        color: lightblue;
        height: 38px;
        margin-left: 20px;
        font-weight: 800;
        border: none;
        flex:1;
    }

    .button-39 {
    flex: 3;
    margin: 5px;
    color: #111827;
    border: none;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

    .button-39:hover {
    background-color: rgb(249,250,251);
    }

    .button-39:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    }

    .button-39:focus-visible {
    box-shadow: none;
    }
</style>

<section>
    <div id="detail_title" style="justify-content:space-between;">
        {% if community.author.image %}
        <img src="{{community.author.image.url}}" alt="" style="width:40px;height:40px;border-radius:100px;">
        {% else %}
        <img src="{% static 'profile_color.png' %}" alt="" style="width:40px;height:40px;border-radius:100px;">
        {% endif %}
        <div style="align-self: center; padding-left: 10px;">{{community.author.name}}</div>
        {% if community.author.status == 1 %}
        <img src="{% static 'yes_check.png'%}" alt="yes_check" width="20px" height="20px" style="align-self: center; padding-left: 5px; margin-right: 5px;">
        {% endif %}
        <div style="font-size:15px;margin-left:auto; align-self: center;">{{community.created_at.date}}<br>{{community.created_at.time}}</div>
    </div>

    <div id="detail_content">{{community.content}}</div>

    {% if community.photo %}
    <div id="detail_image">
        <img src="{{community.photo.url}}" alt="" width="200px" height="150px">
    </div>
    {% endif %}

    <div style="display:flex; margin-left: 15px;">
        <a href="{% url 'like' community.id %}">
            {% if user in community.like.all %}
            <div class="heart-like-button liked" style="animation:none"></div>
            {% else %}
            <div class="heart-like-button"></div>
            {% endif %}
        </a>
        <div id ="like_count" style="font-size: 20px;">{{community.like_count}}</div>
    </div>
    <div style="border-top: 1px solid rgb(139 134 134 / 27%);"></div>
        <form method="POST" action="{% url 'comment' community.id %}" id="comment_create">
            {% csrf_token %}
            <input type="text" class="button-39" placeholder="댓글 달기..." name="comment" maxlength="50">
            <button type="submit" class="button-enter">입력</button>
        </form>
</section>
<div id="comment_container" >
    
    
    {% for comment in community.comment_set.all %}
    <div id="comment_index">
        {% if comment.writer.image %}
        <img src="{{comment.writer.image.url}}" alt="" style="width:20px;height:20px;border-radius:100px;">
        {% else %}
        <img src="{% static 'profile_color.png' %}" alt="" style="width:20px;height:20px;border-radius:100px;">
        {% endif %}
        <div style="width:50px;text-align: center;">{{comment.writer.name}}</div>
        <div style="width:100px; flex:1; margin-left: 20px;">{{comment.comment}}</div>
        <div>{{community.created_at.date}}<br>{{community.created_at.time}}</div>
    </div>
    {% endfor %}
</div>
    
<div id="detail_to_home">
        <a href="{% url 'community' %}" class="subscribe-button">
            <span class="subscribe-text">뒤로 가기</span>
        </a>
    </div>
<script>
    const button = document.querySelector(".heart-like-button");

    button.addEventListener("click", () => {
    if (button.classList.contains("liked")) {
        button.classList.remove("liked");
    } else {
        button.classList.add("liked");
    }
    });
</script>
{% endblock %}