{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    body {
        font-size: 18px;
    }

    section {
        margin:30px auto;
        border: 1px solid rgb(139, 134, 134);
        width:90%;
    }

    #detail_title {
        display:flex;
        padding:35px 30px 20px 10px;
        font-weight: bold;
    }

    #detail_content {
        padding:20px 30px 20px 10px;
    }

    #detail_image {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #detail_to_home {
        padding-right: 60px;
        margin-bottom: 50px;
        overflow: hidden;
    }

    #comment_container {
        padding:0 5px 0 5px;
    }

    #comment_index {
        font-size:16px;
        padding:10px 10px 10px 20px;
        border-bottom: 1px solid rgb(206, 203, 203);
        display: flex;
    }

    #comment_create {
        width:fit-content;
        margin:25px auto 30px auto;
    }

</style>

<section>
    <div id="detail_title">
        {% if community.author.image %}
        <img src="{{community.author.image.url}}" alt="" style="width:40px;height:40px">
        {% else %}
        <img src="{% static 'profile_color.png' %}" alt="" style="width:40px;height:40px">
        {% endif %}
        <div style="text-align: center;">{{community.author.name}}</div>
        {% if community.author.status == 1 %}
        <img src="{% static 'yes_check.png'%}" alt="yes_check" width="20px" height="20px">
        {% endif %}
        <div style="font-size:15px;margin-left:30px;">{{community.created_at}}</div>
    </div>

    <div id="detail_content">{{community.content}}</div>

    {% if community.photo %}
    <div id="detail_image">
        <img src="{{community.photo.url}}" alt="" width="250px" height="150px">
    </div>
    {% endif %}

    <div style="display:flex;">
        <a href="{% url 'like' community.id %}">
            {% if user in community.like.all %}
            <img src = "{%static 'full_like.png'%}" alt="" width="30px" height="30px">
            {% else %}
            <img src = "{%static 'blank_like.png'%}" alt=""width="30px" height="30px">
            {% endif %}
        </a>
        <div id ="like_count" style="padding-left: 15px; font-size: 25px;">{{community.like_count}}</div>
    </div>

    <div id="detail_to_home">
        <a href="{% url 'community' %}"><button style="float:right">자유게시판</button></a>
    </div>
    
    <div id="comment_container">
        <h4>댓글 작성</h4>

        {% for comment in community.comment_set.all %}
        <div id="comment_index">
            {% if comment.writer.image %}
            <img src="{{comment.writer.image.url}}" alt="" style="width:20px;height:20px">
            {% else %}
            <img src="{% static 'profile_color.png' %}" alt="" style="width:20px;height:20px">
            {% endif %}
            <div style="width:50px;text-align: center;">{{comment.writer.name}}</div>
            <div style="width:100px; margin-left: 20px;">{{comment.comment}}</div>
            <div style="width:130px;">{{comment.created_at}}</div>
        </div>
        {% endfor %}

        <form method="POST" action="{% url 'comment' community.id %}" id="comment_create">
            {% csrf_token %}
            <input type="text" placeholder="댓글을 달아주세요." name="comment" maxlength="50">
            <button type="submit">입력</button>
        </form>
    </div>
</section>



{% endblock %}