{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
    #content_index {
        display: flex;
        border-bottom: 1px solid rgb(139 134 134 / 35%);
        flex-direction: column;
        padding:10px;
    } 

    #detail_title {
        display:flex;
        padding:10px 10px 5px 10px;
    }

    #detail_content {
        padding:10px 0 10px 0;
        padding-top: 5px;
    }

    @media screen and (min-width: 480px) {
    body {
        justify-content: center;
    }
    }
</style>
    <!--검색바-->
    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <div style="display:flex; background-color: rgb(193, 255, 255);height:45px;justify-content: space-around;">
            <div style="font-family: 'Noto Sans KR', sans-serif;display: flex;margin:auto 0 auto 4%;">뮤지션 검색</div>
            <div style="font-family: 'Noto Sans KR', sans-serif;display: flex;margin:auto 0; width: 50%;">
                <input type="text" name="query" style="border-width: 0; height: 20px; border-radius: 10px;width: 100%;">
            </div>
            <button type="submit" style="display: flex;margin:auto 4% auto 0; background: transparent;border: none;">
                <div ><img src="{% static 'search.png' %}">
            </button>
        </div>
    </form>

    <!--api 및 라이브러리(services) 불러오기-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8692f5c3c759c152297171d014cffebe&libraries=services"></script>
    
    <!--지도(로그인 여부에 따라 다른 지도)-->
    {% if not user.is_authenticated %}
    <div id = "logout_map" style="width:100%;height:300px;"></div>
    {% else %}
    <div id = "login_map" style="width:100%; height:300px;"></div>
    {% endif %} 
    
    <!--공연정보 리스트-->
    <section id = "concert_list">
        {% for concert in concerts %}
        <section style="padding-top: 5px;" id = "{{ concert.introduce }}">
            <a href=#>
                <div id="content_index" >
                    <div style="display:flex;">
                        <img src= "{{ concert.musician.image.url }}" alt="" style="width:40px;height:40px;margin-right:15px;border-radius:100px; ">
                        <div style="flex-direction: column;width: 100%;">
                            <div style="display:flex; flex-wrap: wrap; flex-direction: row;justify-content: space-between;">
                                <span style="font-weight: bold;">{{ concert.musician.name }} </span>
                                <span>{{ concert.date }} {{ concert.time }}</span>
                            </div>
                            <div>{{ concert.address }}</div>
                        </div>
                    </div>
                    <div id="detail_content"> {{ concert.introduce }}</div>
                </div>
            </a>
        </section>         
        {% endfor %}
    </section>

    <!--로그인 전-->
    <script>
        // 지도 생성 및 영역에 담기
        var logout_container = document.getElementById('logout_map');
        var options = {
            center: new kakao.maps.LatLng(37.555199964715605, 126.93696830939987),
            level: 3,
            draggable: false
        };

        var logout_map = new kakao.maps.Map(logout_container, options);
    
    </script>

    <!--로그인 후-->
    <script>
        // 지도 생성 및 영역에 담기
        var login_container = document.getElementById('login_map');
        var options = {
            center: new kakao.maps.LatLng(37.555199964715605, 126.93696830939987),
            level: 3,
            draggable: true
        };

        var login_map = new kakao.maps.Map(login_container, options);        

        // 사용자 위치 표시 및 지도 중심으로 설정 
        if (navigator.geolocation){ //geolocation 사용 가능할 때
            // 현재 위치 
            navigator.geolocation.getCurrentPosition(function(position){
                var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도 

                var locPosition = new kakao.maps.LatLng(lat, lon); // 현재 위치 생성
                displayMarker(locPosition); // 마커 표시 및 지도 중심 옮기기 
            })
        }
        else{ // geolocation 사용 불가  
            var locPosition = new kakao.maps.LatLng(37.555199964715605, 126.93696830939987);
            displayMarker(locPosition);
        }

        function displayMarker(locPosition){
            // 사용자 위치 마커(빨간색)
            var imageSrc = "https://ifh.cc/g/p8Gfpv.png";
            // 마커 이미지 크기 
            var imageSize = new kakao.maps.Size(24, 30);
            // 마커 이미지 생성  
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            var marker = new kakao.maps.Marker({
                map: login_map,
                position: locPosition,
                image: markerImage
            });

            // 지도 중심좌표를 현재 위치로 변경 
            login_map.setCenter(locPosition);
        }

    </script>

    <!--로그인 전후 지도에 마커 표시-->
    <script>
        // 공연 정보
        let concerts = [
            {% for concert in concerts %}
            {
                introduce: "{{ concert.introduce }}",
                latitude: "{{ concert.latitude }}",
                longitude: "{{ concert.longitude }}"
            },
            {% endfor %}
        ]; 

        // 로그인 전 지도에 마커 생성
        for (var i = 0; i < concerts.length; i ++) {
            // 위도 경도 객체 생성 
            latlng = new kakao.maps.LatLng(Number(concerts[i].latitude), Number(concerts[i].longitude));

            // 마커를 생성
            var marker = new kakao.maps.Marker({
            map: logout_map, // 마커를 표시할 지도
            title: concerts[i].introduce, // 마커에 마우스 오버 시 뜨는 이름 
            position: latlng, // 마커를 표시할 위치
         });
        }        

        // 로그인 후 
        var selectedMarker = null;
        var markers = [];

        // 로그인 후 지도에 마커 생성
        for (var i = 0; i < concerts.length; i ++) {
            // 위도 경도 객체 생성 
            latlng = new kakao.maps.LatLng(Number(concerts[i].latitude), Number(concerts[i].longitude));

            // 마커를 생성
            var marker = new kakao.maps.Marker({
            map: login_map, // 마커를 표시할 지도
            title: concerts[i].introduce, // 마커에 마우스 오버 시 뜨는 이름 
            position: latlng, // 마커를 표시할 위치
         });

            markers.push(marker);

        // kakao.maps.event.addListener(marker, 'click', function() {
        
        //     if (!selectedMarker || selectedMarker !== marker) {
        //         var click_concert = document.getElementById(marker.getTitle());
        //         click_concert.style.backgroundColor = "yellow";
        //     }
        //     if (selectedMarker == marker) {
        //         var dbclick_concert = document.getElementById(marker.getTitle());
        //         dbclick_concert.style.backgroundColor = "white";
        //     }
        //     selectedMarker = marker;
        // });            
        }               

        // 즐겨찾기 마커만




        // favorite = document.getElementById('favorite');
        // favorite.onclick = function() {   
        //     // 기존 마커 삭제 
        //     for (var i = 0; i < markers.length; i++) {
        //         markers[i].setMap(null);
        //     };

            
            // for (var i = 0; i < favorite_concerts.length; i ++) {
            //     // 위도 경도 객체 생성 
            //     latlng = new kakao.maps.LatLng(Number(favorite_concerts[i].latitude), Number(favorite_concerts[i].longitude));

            //     // 마커를 생성
            //     var marker = new kakao.maps.Marker({
            //     map: login_map, // 마커를 표시할 지도
            //     position: latlng, // 마커를 표시할 위치
            //     });                                          
            // }
            // };
            //}
        

        
        
    </script>
    
{% endblock %}