{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
    #content_index {
        border: 1px solid rgb(139, 134, 134);
    }

    #detail_title {
        display:flex;
        padding:10px 10px 5px 10px;
    }

    #detail_content, #detail_time {
        padding:10px 10px 10px 10px;
    }
</style>
    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <div style="display:flex; background-color: rgb(193, 255, 255);height:45px;justify-content: space-around;">
            <div style="font-family: 'Noto Sans KR', sans-serif;display: flex;margin:auto 0 auto 4%;">뮤지션 검색</div>
            <div style="font-family: 'Noto Sans KR', sans-serif;display: flex;margin:auto 0; width: 50%;">
                <input type="text" name="query" style="border-width: 0; height: 20px; border-radius: 10px;width: 100%;">
            </div>
            <button type="submit" style="display: flex;margin:auto 4% auto 0; background: transparent;border: none;">
                <div ><img src="{% static 'search.png' %}">
            </button>
        </div>
    </form>
    <img src="{% static '가짜_지도.png' %}" width=100% height="500px">
    <button><a href="{% url 'map' %}">map</a></button>
    
    <section style="padding-top: 5px;">
        <a href=#>
            <div id="content_index" >
                <div id="detail_title" style="flex-direction: row;">
                    <img src="{% static 'profile_color.png' %}" alt="" style="width:40px;height:40px;margin-right: 10px;">
                    <div style="flex-direction: column;">
                        <div style="display:flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;">
                            <span style="font-weight: bold;">핑핑 </span>
                            <span>2022년 6월 1일 20:30</span>
                        </div>
                        <div>공연 장소: 홍대입구역 2번 출구</div>
                    </div>
                </div>
                <div id="detail_content">오늘 신곡 '독수수' 공연할 예정입니다!</div>
            </div>
        </a>
    </section>
    <section style="padding-top: 5px;">
        <a href=#>
            <div id="content_index" >
                <div id="detail_title" style="flex-direction: row;">
                    <img src="{% static 'profile_color.png' %}" alt="" style="width:40px;height:40px;margin-right: 10px;">
                    <div style="flex-direction: column;">
                        <div style="display:flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;">
                            <span style="font-weight: bold;">이무무 </span>
                            <span>2022년 6월 1일 21:00</span>
                        </div>
                        <div>공연 장소: 신촌 명품 거리 버스킹존</div>
                    </div>
                </div>
                <div id="detail_content">저의 첫 버스킹 많은 기대 바랍니다.</div>
            </div>
        </a>
    </section>
{% endblock %}